$white: #ffffff;
$spruce: #0c6946;
$dark-sea-green: #158e61;
$charcoal: #383836;


.second
{
    @import "../h2.scss";
    &-grid
    {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        align-content: stretch;
        flex-wrap: wrap;
        &__item
        {
            margin-top: 50px;
            flex: 1 1 25%;
            max-width: 50%;
            img
            {
                display: block;
                margin: 0 auto;
            } 
            p
            {
                text-align: center;
                margin-top: 63px;
                font-family: OpenSansSemiBold;
                font-size: 20px;                
                line-height: 1.35;
                text-align: center;
                color: $spruce;
                padding: 0 10px;
            }
        }
    }
    &-propose
    {
        margin: 53px 0px;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        align-items: center;
        
        width: 100%;
        text-align: center;
        flex-wrap: wrap;
        justify-content: space-between;
        p
        {
            font-family: OpenSansSemiBold;
            font-size: 24px;
            flex: 3 3 55%; 
            color: #101010;
        }
        &__btn
        {    
            border-radius: 6.2px;
            padding: 15px 30px 15px; 
            
            background-image: -webkit-linear-gradient(bottom, $spruce, $dark-sea-green);
            background-image: -o-linear-gradient(bottom, $spruce, $dark-sea-green);
            background-image: linear-gradient(to top, $spruce, $dark-sea-green);
            font-family: OpenSansSemiBold;
            font-size: 23px;
            text-align: center;
            color: $white;
            text-decoration: none;
            border: 2px solid $spruce; 
            max-width: 270px;
            height: 25px;
            flex: 1 1 300px;
            display: block;
            margin: 0 35px;
            &:hover
            {
                background-image: linear-gradient(to top, $spruce, #0a5338);
            }
        }
    }
} 
@media (max-width: 992px) { 
     .second
    {
        &-propose
        {
            p
            {
                flex: 3 3 70%;
            }
            &__btn
            {
                margin: 0 auto;
            }
        }
    
    }
}